<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.mapper.BuyRecordMapper">
    <resultMap id="buyRecordMap" type="buyRecord">
        <id column="id" property="id"/>
        <result column="userid" property="userid"/>
        <result column="productId" property="productId"/>
        <result column="nums" property="nums"/>
        <result column="status" property="status"/>
        <result column="time" property="time"/>
        <association property="product" column="productId" select="com.yu.mapper.ProductMapper.selProductById" javaType="product"></association>
    </resultMap>
    <!--根据用户id查询购买记录-->
    <select id="selRecordByUid" parameterType="int" resultMap="buyRecordMap">
    select * from buy_record where userid=#{0}
</select>
</mapper>